body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    user-select: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    max-height: 100%;
    overflow: hidden;
}

.darkened {
    background-color: rgba(0,0,0,0.7);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    position: relative;
    align-items: center;
}

.metadata {
    padding: .5em 1em;
    display: flex;
    width:100%;
    height: 1.5em;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    flex-grow: 1;
}

.mark {
    align-content: end;
    flex-grow: 1;
    text-align: right;
}

.left-margin {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 92%;
}
.right-margin{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.left-margin {
    justify-content: flex-end;
}

.right-margin {
    justify-content: space-between;
}

.logs, .params {
    padding: 1em;
    max-width: 35em;
    max-height: 30em;
}

.logs {
    font-size: 0.8em;
}

.params ul {
    margin-bottom: 1em;
}

.warning {
    color: orange;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

.compass {
    width: 16em;
    height: 16em;
    border-radius: 8em;
    position: relative;
}

.precise-yaw-value, .precise-roll-value {
    color: #7CFC00;
    font-weight: bold;
}

.hud-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 95%;
}

.yaw-box, .pitch-box {
    overflow: hidden;
    width: 70em;
    position: relative;
    font-weight: bold;
    justify-content: space-between;
}

.yaw-box {
    margin-top: 3em;
    margin-bottom: 10em;
    height: 10em;
}

.yaw-scale {
    position: absolute;
    left: -165%;
    top: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: #7CFC00;
    text-align: center;
}

.yaw-scale img {
    transform: translate(-23.43%, 0%);
}

.pitch-box {
    height: 20em;
}

.pitch-scale {
    right: 0;
    top: -304.5%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7CFC00;
}

.pitch-scale img {
    transform: translate(0%, -41.5%);
}

.roll-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-18deg);
    width: 80%;
}

.camera {
    position: absolute;
    z-index: -1;
    top:0;
    left:50%;
    transform: translate(-50%, 0%);
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

.camera-stretched {
    left:0;
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
}
.right-margin-down {
    justify-content: space-between;
    
    padding-right: 10px;

}
.myButton {
    display: flex;
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #8e9c90;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
    text-align: center;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    width:100%;
    
}
.myButton:hover {
	background-color:red;
}
.myButton:active {
	position:relative;
	top:1px;
}
.button {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
    width: 70px;
    /* Spacing */
    padding: 8px;
}

.button__arrow {
    /* Transparent background */
    background-color: transparent;
    
    /* Size */
    height: 12px;
    width: 12px;
}

.button__arrow--up {
    /* Edges */
    padding-right: 4px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateY(25%) rotate(45deg);
}

.button__arrow--right {
    /* Edges */
    padding-left: 2px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateX(-25%) rotate(45deg);
}

.button__arrow--down {
    /* Edges */
    padding: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateY(-25%) rotate(45deg);
}

.button__arrow--left {
    /* Edges */
    padding-right: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateX(25%) rotate(45deg);
}
.position-button{
    align-items: center;
 justify-content: center;
 padding-left: 34%;
}
.position-button-left-right{
    display: flex;
    justify-content: space-between;
    column-gap:5px;
}
.position-button-array{
   
    padding-right: 15px; 
    
}
.stop-button{
    background-color: red;
}
.motor-button{
    background-color: orange;
}
.flipswitch {
    position: relative;
    width: 220px;
  }
  .flipswitch input[type=checkbox] {
    display: none;
  }
  .flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid #999999;
    border-radius: 50px;
  }
  .flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 21px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }
  .flipswitch-inner:before {
    content: "Stepper";
    padding-left: 12px;
    background-color: #256799;
    color: #FFFFFF;
  }
  .flipswitch-inner:after {
    content: "DC";
    padding-right: 12px;
    background-color: rgb(165, 122, 42);
    color: #FFFFFF;
    text-align: right;
  }
  .flipswitch-switch {
    width: 30px;
    margin: -3px;
    background: #121212;
    border: 3px solid #999999;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 194px;
    transition: all 0.3s ease-in 0s;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
  }
  .text-heading {
    max-width: 35em;
  }
  .list-speed{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 40%;
    
  }
  